#content {
    /*background-image: url('images/ds_bg-min.jpg');*/
    /*background-size: cover;*/
}

.btn-primary, .btn-primary:visited {
    background-color: #753193;
    border: 1px solid transparent;
    color: #fff;
}

.btn-primary:hover, .btn-primary:active {
    background-color: #fff;
    border-color: #753193;
    color: #753193;
}

.question-box {
    position: relative;
    left: 60px;
    margin-bottom: 30px;
    padding: 15px 30px;
    border: 1px solid transparent;
    border-radius: 20px 20px 20px 0;
    background-color: rgba(117, 49, 147, .2);
    color: #000;
    width: calc(100% - 60px);
}
.question-box:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: -66px;
    width: 128px;
    height: 128px;
    background-image: url('images/ImageDataMate.png');
    background-position: -76px 55px;
    background-repeat: no-repeat;
}

.answer-box {
    padding: 0 30px 30px 30px;
    position: relative;
    padding: 15px 30px;
    background-color: #753193;
    border: 1px solid transparent;
    border-radius: 20px 20px 0 20px;
    color: #fff;
}

#salary_distribution {
    height: 400px;
    background-color: #fff;
}

.salary {
    display: block;
}
#rec_form .form-check {
    margin-bottom: 10px;
}

.navbar{
    background: rgba(103, 199, 68, 0.3);
}

.img-with-text {
    text-align: center;
    width: 100px;
    color: #753193;
    font-size: 1.3em;
}

.img-with-text img {
    display: block;
    margin: 0 auto;
}