{% extends "layout.html" %}
{% block title %}Hey, Data Mate!{% endblock %}
{% block content %}
<div class="container mt-5">
    <form method="post">
        <div class="container">
            <div class="d-flex flex-row justify-content-center">
                <div class="form-group" id="age">
                    <label>What's your age?</label>
                    <div class="form-check mt-5">
                        <input type="radio" class="form-check-input" id="age-18-21" name="age" value="18 - 21"/>
                        <label class="form-check-label" for="age-18-21">18 - 21</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="age-22-24" name="age" value="22 - 24"/>
                        <label class="form-check-label" for="age-22-24">22 - 24</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="age-25-29" name="age" value="25 - 29"/>
                        <label class="form-check-label" for="age-25-29">25 - 29</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="age-30-34" name="age" value="30 - 34"/>
                        <label class="form-check-label" for="age-30-34">30 - 34</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="age-35-39" name="age" value="35 - 39"/>
                        <label class="form-check-label" for="age-35-39">35 - 39</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="age-40-44" name="age" value="40 - 44"/>
                        <label class="form-check-label" for="age-40-44">40 - 44</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="age-45-49" name="age" value="45 - 49"/>
                        <label class="form-check-label" for="age-45-49">45 - 49</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="age-50-54" name="age" value="50 - 54"/>
                        <label class="form-check-label" for="age-50-54">50 - 54</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="age-55-59" name="age" value="55 - 59"/>
                        <label class="form-check-label" for="age-55-59">55 - 59</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="age-60+" name="age" value="60+"/>
                        <label class="form-check-label" for="age-60+">60+</label>
                    </div>
                    <button type="button" class="btn btn-dark mt-5" id="age-btn">Next question</button>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="d-flex flex-row justify-content-center">
                <div class="form-group" id="country" hidden>
                    <label>Which country do you currently reside in?</label>
                    <div class="form-check mt-5">
                        <input type="radio" class="form-check-input" id="country-australia" name="country"
                               value="Australia"/>
                        <label class="form-check-label" for="country-australia">Australia</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="country-brazil" name="country" value="Brazil"/>
                        <label class="form-check-label" for="country-brazil">Brazil</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="country-canada" name="country" value="Canada"/>
                        <label class="form-check-label" for="country-canada">Canada</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="country-china" name="country" value="China"/>
                        <label class="form-check-label" for="country-china">China</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="country-france" name="country" value="France"/>
                        <label class="form-check-label" for="country-france">France</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="country-germany" name="country"
                               value="germany"/>
                        <label class="form-check-label" for="country-germany">Germany</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="country-india" name="country" value="India"/>
                        <label class="form-check-label" for="country-india">India</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="country-italy" name="country" value="Italy"/>
                        <label class="form-check-label" for="country-italy">Italy</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="country-japan" name="country" value="Japan"/>
                        <label class="form-check-label" for="country-japan">Japan</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="country-mexico" name="country" value="Mexico"/>
                        <label class="form-check-label" for="country-mexico">Mexico</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="country-russia" name="country" value="Russia"/>
                        <label class="form-check-label" for="country-russia">Russia</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="country-spain" name="country" value="Spain"/>
                        <label class="form-check-label" for="country-spain">Spain</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="country-uk" name="country"
                               value="United Kingdom"/>
                        <label class="form-check-label" for="country-uk">United Kingdom</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="country-us" name="country"
                               value="United States of America"/>
                        <label class="form-check-label" for="country-us">United States of America</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="country-other" name="country" value="Other"/>
                        <label class="form-check-label" for="country-other">Other</label>
                    </div>
                    <button type="button" class="btn btn-dark mt-5" id="country-btn">Next question</button>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="d-flex flex-row justify-content-center">
                <div class="form-group" id="industry" hidden>
                    <label>In what industry is your current employer/contract <br/>(or your most recent employer if
                        retired)?</label>
                    <div class="form-check mt-5">
                        <input type="radio" class="form-check-input" id="industry-academics-education" name="industry"
                               value="Academics/Education"/>
                        <label class="form-check-label" for="industry-academics-education">Academics/Education</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="industry-accounting-finance" name="industry"
                               value="Accounting/Finance"/>
                        <label class="form-check-label" for="industry-accounting-finance">Accounting/Finance</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="industry-computers-technology" name="industry"
                               value="Computer/Technology"/>
                        <label class="form-check-label" for="industry-computers-technology">Computer/Technology</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="industry-government-public" name="industry"
                               value="Government/Public Sector"/>
                        <label class="form-check-label" for="industry-government-public">Government/Public
                            Sector</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="industry-insurance-risk" name="industry"
                               value="Insurance/Risk management"/>
                        <label class="form-check-label" for="industry-insurance-risk">Insurance/Risk management</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="industry-medical-pharmaceutical"
                               name="industry"
                               value="Medical/Pharmaceutical"/>
                        <label class="form-check-label"
                               for="industry-medical-pharmaceutical">Medical/Pharmaceutical</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="industry-online-internet" name="industry"
                               value="Online services/Internet based"/>
                        <label class="form-check-label" for="industry-online-internet">Online services/Internet
                            based</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="industry-other" name="industry"
                               value="Other"/>
                        <label class="form-check-label" for="industry-other">Other</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="industry-student" name="industry"
                               value="I am a student"/>
                        <label class="form-check-label" for="industry-student">I am a student</label>
                    </div>
                    <button type="button" class="btn btn-dark mt-5" id="industry-btn">Next question</button>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="d-flex flex-row justify-content-center">
                <div class="form-group" id="role" hidden>
                    <label>Select the most similar to your current role <br/>(or most recent title if retired)?</label>
                    <div class="form-check mt-5">
                        <input type="radio" class="form-check-input" id="role-bi" name="role"
                               value="Business Analyst"/>
                        <label class="form-check-label" for="role-bi">Business Analyst</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="role-consultant" name="role"
                               value="Consultant"/>
                        <label class="form-check-label" for="role-consultant">Consultant</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="role-da" name="role"
                               value="Data Analyst"/>
                        <label class="form-check-label" for="role-da">Data Analyst</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="role-de" name="role"
                               value="Data Engineer"/>
                        <label class="form-check-label" for="role-de">Data Engineer</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="role-ds" name="role"
                               value="Data Scientist"/>
                        <label class="form-check-label" for="role-ds">Data Scientist</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="role-rs" name="role"
                               value="Research Scientist"/>
                        <label class="form-check-label" for="role-rs">Research Scientist</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="role-swe" name="role"
                               value="Software Engineer"/>
                        <label class="form-check-label" for="role-swe">Software Engineer</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="role-student" name="role"
                               value="Student"/>
                        <label class="form-check-label" for="role-student">Student</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="role-other" name="role"
                               value="Other"/>
                        <label class="form-check-label" for="role-other">Other</label>
                    </div>
                    <button type="button" class="btn btn-dark mt-5" id="role-btn">Next question</button>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="d-flex flex-row justify-content-center">
                <div class="form-group" id="experience" hidden>
                    <label>How many years of experience do <br/>you have in your current role?</label>
                    <div class="form-check mt-5">
                        <input type="radio" class="form-check-input" id="experience-0-1" name="experience"
                               value="0 - 1"/>
                        <label class="form-check-label" for="experience-0-1">0 - 1</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="experience-1-2" name="experience"
                               value="1 - 2"/>
                        <label class="form-check-label" for="experience-1-2">1 - 2</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="experience-2-3" name="experience"
                               value="2 - 3"/>
                        <label class="form-check-label" for="experience-2-3">2 - 3</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="experience-3-4" name="experience"
                               value="3 - 4"/>
                        <label class="form-check-label" for="experience-3-4">3 - 4</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="experience-4-5" name="experience"
                               value="4 - 5"/>
                        <label class="form-check-label" for="experience-4-5">4 - 5</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="experience-5-10" name="experience"
                               value="5 - 10"/>
                        <label class="form-check-label" for="experience-5-10">5 - 10</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="experience-10-15" name="experience"
                               value="10 - 15"/>
                        <label class="form-check-label" for="experience-10-15">10 - 15</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="experience-15+" name="experience"
                               value="15 +"/>
                        <label class="form-check-label" for="experience-15+">15 +</label>
                    </div>
                    <button type="button" class="btn btn-dark mt-5" id="experience-btn">Next question</button>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="d-flex flex-row justify-content-center">
                <div class="form-group" id="activities" hidden>
                    <label>Select any activities that make up an important part of your role at work (select all that apply)?</label>
                    <div class="form-check mt-5">
                        <input type="checkbox" class="form-check-input" id="activities-analyze" name="activities"
                               value="Analyze and understand data to influence product or business decisions"/>
                        <label class="form-check-label" for="activities-analyze">Analyze and understand data to influence product or business decisions</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="activities-build-ml" name="activities"
                               value="Build and/or run a machine learning service that operationally improves my product or workflows"/>
                        <label class="form-check-label" for="activities-build-ml">Build and/or run a machine learning service that operationally improves my product or workflows</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="activities-build-di" name="activities"
                               value="Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data"/>
                        <label class="form-check-label" for="activities-build-di">Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="activities-build-prototype" name="activities"
                               value="Build prototypes to explore applying machine learning to new areas"/>
                        <label class="form-check-label" for="activities-build-prototype">Build prototypes to explore applying machine learning to new areas</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="activities-research" name="activities"
                               value="Do research that advances the state of the art of machine learning"/>
                        <label class="form-check-label" for="activities-research">Do research that advances the state of the art of machine learning</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="activities-none" name="activities"
                               value="None of these activities are an important part of my role at work"/>
                        <label class="form-check-label" for="activities-none">None of these activities are an important part of my role at work</label>
                    </div>
                    <button type="submit" class="btn btn-dark mt-5" id="activities-btn">Next question</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}