<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VARENIKI</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container mt-5">
    <form method="post">
        <div class="form-check" id="age">
            <label>What's your age?</label>
            <input type="radio" class="form-check-input" id="age-18-21" name="age" value="18-21"/>
            <label class="form-check-label" for="age-18-21">18 - 21</label>
            <input type="radio" class="form-check-input" id="age-22-24" name="age" value="22-24"/>
            <label class="form-check-label" for="age-18-21">22 - 24</label>
            <input type="radio" class="form-check-input" id="age-25-29" name="age" value="25-29"/>
            <label class="form-check-label" for="age-18-21"></label>
            <input type="radio" class="form-check-input" id="age-18-21" name="age" value="18-21"/>
            <label class="form-check-label" for="age-18-21"></label>
            <input type="radio" class="form-check-input" id="age-18-21" name="age" value="18-21"/>
            <label class="form-check-label" for="age-18-21"></label>
            <input type="radio" class="form-check-input" id="age-18-21" name="age" value="18-21"/>
            <label class="form-check-label" for="age-18-21"></label>
            <input type="radio" class="form-check-input" id="age-18-21" name="age" value="18-21"/>
            <label class="form-check-label" for="age-18-21"></label>
            <input type="radio" class="form-check-input" id="age-18-21" name="age" value="18-21"/>
            <label class="form-check-label" for="age-18-21"></label>
            <input type="radio" class="form-check-input" id="age-18-21" name="age" value="18-21"/>
            <label class="form-check-label" for="age-18-21"></label>
            <input type="radio" class="form-check-input" id="age-18-21" name="age" value="18-21"/>
            <label class="form-check-label" for="age-18-21"></label>
            <button class="btn">Next question</button>
        </div>

    </form>
</div>
</body>
</html>