{% extends "layout.html" %}
{% block title %}Hey, Data Mate!{% endblock %}
{% block content %}
<div class="container">
    <div class="d-flex flex-row justify-content-center align-content-center">
            <div class="jumbotron mt-5">
                <h1 class="display-4 text-center">Hey, Data Mate!</h1>
                <p class="lead">You would like to improve your skills on data science and don't know what's really required by the companies?</p>
                <hr class="my-4">
                <p class="lead">Or you don't even know how much the salary for you as data scientist is?</p>
                <p class="text-center">
                    <a class="btn btn-primary btn-lg" href="/survey" role="button">Analyse my skills now!</a>
                </p>
            </div>
    </div>
</div>
{% endblock %}