{% extends "layout.html" %}
{% block title %}Recommendation form!{% endblock %}
{% block content %}
    <form id="rec_form" method="post" action="">
        <section id="regular_languages_container" class="container active">
            <div class="d-flex flex-row mt-5 justify-content-start">
                <div class="question-box col-md-6">
                    <p> What specific programming language do you use on a regular basis (select all that apply)?</p>
                </div>
            </div>
            <div class="d-flex flex-row mt-5 justify-content-end">
                <div class="answer-box col-md-5">
                    <p>I have experience in</p>
                    <div class="form-check">
                        <input class="form-check-input" name="regular_languages" type="checkbox"
                               value="Bash" id="bash">
                        <label class="form-check-label" for="bash">
                            Bash
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="regular_languages" type="checkbox"
                               value="C" id="c">
                        <label class="form-check-label" for="c">
                            C
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="regular_languages" type="checkbox"
                               value="NET" id="dot_net">
                        <label class="form-check-label" for="dot_net">
                            C#/.NET
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="regular_languages" type="checkbox"
                               value="Go" id="go">
                        <label class="form-check-label" for="go">
                            Go
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="regular_languages" type="checkbox"
                               value="Java" id="java">
                        <label class="form-check-label" for="java">
                            Java
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="regular_languages" type="checkbox"
                               value="Javascript" id="js">
                        <label class="form-check-label" for="js">
                            Javascript/Typescript
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="regular_languages" type="checkbox"
                               value="Julia" id="julia">
                        <label class="form-check-label" for="julia">
                            Julia
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="regular_languages" type="checkbox"
                               value="MATLAB" id="matlab">
                        <label class="form-check-label" for="matlab">
                            MATLAB
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="regular_languages" type="checkbox"
                               value="PHP" id="php">
                        <label class="form-check-label" for="php">
                            PHP
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="regular_languages" type="checkbox"
                               value="Python" id="python">
                        <label class="form-check-label" for="python">
                            Python
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="regular_languages" type="checkbox"
                               value="R" id="r">
                        <label class="form-check-label" for="r">
                            R
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="regular_languages" type="checkbox"
                               value="Ruby" id="ruby">
                        <label class="form-check-label" for="ruby">
                            Ruby
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="regular_languages" type="checkbox"
                               value="STATA" id="sas">
                        <label class="form-check-label" for="sas">
                            SAS/STATA
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="regular_languages" type="checkbox"
                               value="Scala" id="scala">
                        <label class="form-check-label" for="scala">
                            Scala
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="regular_languages" type="checkbox"
                               value="SQL" id="sql">
                        <label class="form-check-label" for="sql">
                            SQL
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="regular_languages" type="checkbox"
                               value="Visual_Basic" id="vba">
                        <label class="form-check-label" for="vba">
                            Visual Basic/VBA
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="regular_languages" type="checkbox"
                               value="Other" id="regular_language_other">
                        <label class="form-check-label" for="regular_language_other">
                            Other
                        </label>
                    </div>
{#                    <div class="form-check">#}
{#                        <input class="form-check-input" name="regular_languages" type="checkbox"#}
{#                               value="None" id="regular_language_any">#}
{#                        <label class="form-check-label" for="regular_language_any">#}
{#                            None#}
{#                        </label>#}
{#                    </div>#}
                </div>
            </div>
        </section>
        <section id="ml_frameworks_container" class="d-none container">
            <div class="d-flex flex-row mt-5 justify-content-start">
                <div class="question-box col-md-6">
                    <p>What machine learning frameworks have you used in the past 5 years (select all that apply)?</p>
                </div>
            </div>

            <div class="d-flex flex-row mt-5 justify-content-end">
                <div class="answer-box col-md-5">
                    <p>I have experience on</p>
                    <div class="form-check">
                        <input class="form-check-input" name="ml_frameworks" type="checkbox"
                               value="Caffe" id="caffe">
                        <label class="form-check-label" for="caffe">
                            Caffe
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="ml_frameworks" type="checkbox"
                               value="Caret" id="caret">
                        <label class="form-check-label" for="caret">
                            Caret
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="ml_frameworks" type="checkbox"
                               value="catboost" id="catboost">
                        <label class="form-check-label" for="catboost">
                            Catboost
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="ml_frameworks" type="checkbox"
                               value="CNTK" id="cntk">
                        <label class="form-check-label" for="cntk">
                            CNTK
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="ml_frameworks" type="checkbox"
                               value="Fastai" id="fastai">
                        <label class="form-check-label" for="fastai">
                            FastAI
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="ml_frameworks" type="checkbox"
                               value="H2O" id="h2o">
                        <label class="form-check-label" for="h2o">
                            H2O
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="ml_frameworks" type="checkbox"
                               value="Keras" id="keras">
                        <label class="form-check-label" for="keras">
                            Keras
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="ml_frameworks" type="checkbox"
                               value="lightgbm" id="lightgbm">
                        <label class="form-check-label" for="lightgbm">
                            LightGBM
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="ml_frameworks" type="checkbox"
                               value="mlr" id="mlr">
                        <label class="form-check-label" for="mlr">
                            MLR
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="ml_frameworks" type="checkbox"
                               value="Mxnet" id="mxnet">
                        <label class="form-check-label" for="mxnet">
                            MxNET
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="ml_frameworks" type="checkbox"
                               value="Prophet" id="prophet">
                        <label class="form-check-label" for="prophet">
                            Prophet
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="ml_frameworks" type="checkbox"
                               value="PyTorch" id="pytorch">
                        <label class="form-check-label" for="pytorch">
                            PyTorch
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="ml_frameworks" type="checkbox"
                               value="randomForest" id="random_forest">
                        <label class="form-check-label" for="random_forest">
                            RandomForest
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="ml_frameworks" type="checkbox"
                               value="Scikit_Learn" id="sklearn">
                        <label class="form-check-label" for="sklearn">
                            Scikit-Learn
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="ml_frameworks" type="checkbox"
                               value="TensorFlow" id="tensorflow">
                        <label class="form-check-label" for="tensorflow">
                            Tensorflow
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="ml_frameworks" type="checkbox"
                               value="Xgboost" id="xgboost">
                        <label class="form-check-label" for="xgboost">
                            XGBoost
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="ml_frameworks" type="checkbox"
                               value="Other" id="ml_frameworks_other">
                        <label class="form-check-label" for="ml_frameworks_other">
                            Other
                        </label>
                    </div>
{#                    <div class="form-check">#}
{#                        <input class="form-check-input" name="ml_frameworks" type="checkbox"#}
{#                               value="None" id="ml_frameworks_any">#}
{#                        <label class="form-check-label" for="ml_frameworks_any">#}
{#                            None#}
{#                        </label>#}
{#                    </div>#}
                </div>
            </div>
        </section>
        <section id="online_platforms_container" class="d-none container">
            <div class="d-flex flex-row mt-5 justify-content-start">
                <div class="question-box col-md-6">
                    <p>On which online platform have you spent the most amount of time?</p>
                </div>
            </div>
            <div class="d-flex flex-row mt-5 justify-content-end">
                <div class="answer-box col-md-5">
                    <p>I spent most time with</p>
                    <div class="form-check">
                        <input class="form-check-input" name="online_platforms" type="checkbox"
                               value="Udacity" id="udacity">
                        <label class="form-check-label" for="udacity">
                            Udacity
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="online_platforms" type="checkbox"
                               value="Coursera" id="coursera">
                        <label class="form-check-label" for="coursera">
                            Coursera
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="online_platforms" type="checkbox"
                               value="edX" id="edx">
                        <label class="form-check-label" for="edx">
                            edX
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="online_platforms" type="checkbox"
                               value="DataQuest" id="data_quest">
                        <label class="form-check-label" for="data_quest">
                            Data Quest
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="online_platforms" type="checkbox"
                               value="DataCamp" id="data_camp">
                        <label class="form-check-label" for="data_camp">
                            Data Camp
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="online_platforms" type="checkbox"
                               value="developers_google" id="dev_google">
                        <label class="form-check-label" for="dev_google">
                            developers.google.com
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="online_platforms" type="checkbox"
                               value="Fast_AI" id="fastai">
                        <label class="form-check-label" for="fastai">
                            FastAI
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="online_platforms" type="checkbox"
                               value="Kaggle_learn" id="kaggle">
                        <label class="form-check-label" for="kaggle">
                            Kaggle Learn
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="online_platforms" type="checkbox"
                               value="Online_University_courses" id="online_uni">
                        <label class="form-check-label" for="online_uni">
                            Online University Courses
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="online_platforms" type="checkbox"
                               value="Udemy" id="udemy">
                        <label class="form-check-label" for="udemy">
                            Udemy
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="online_platforms" type="checkbox"
                               value="TheSchool_AI" id="school_ai">
                        <label class="form-check-label" for="school_ai">
                            The School AI
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="online_platforms" type="checkbox"
                               value="Other" id="online_platforms_other">
                        <label class="form-check-label" for="online_platforms_other">
                            Other
                        </label>
                    </div>
                </div>
            </div>
        </section>
        <section id="media_sources_container" class="d-none container">
            <div class="d-flex flex-row mt-5 justify-content-start">
                <div class="question-box col-md-6">
                    <p>Who/what are your favorite media sources that report on data science to pics (select all that apply)?</p>
                </div>
            </div>
            <div class="d-flex flex-row mt-5 justify-content-end">
                <div class="answer-box col-md-5">
                    <p>My favorites are</p>
                    <div class="form-check">
                        <input class="form-check-input" name="media_sources" type="checkbox"
                               value="ArXiv" id="arxiv">
                        <label class="form-check-label" for="arxiv">
                            ArXiv &amp; Preprints
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="media_sources" type="checkbox"
                               value="Cloud_AI_adventures" id="youtube">
                        <label class="form-check-label" for="youtube">
                            Cloud AI Adventures (YouTube)
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="media_sources" type="checkbox"
                               value="DataTau" id="data_tau">
                        <label class="form-check-label" for="data_tau">
                            DataTau News Aggregator
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="media_sources" type="checkbox"
                               value="Fastai" id="fastai_forums">
                        <label class="form-check-label" for="fastai_forums">
                            FastAI forums
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="media_sources" type="checkbox"
                               value="FastMLBlog" id="fastml_blog">
                        <label class="form-check-label" for="fastml_blog">
                            FastML Blog
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="media_sources" type="checkbox"
                               value="FiveThirtyEight" id="five_thirty_eight">
                        <label class="form-check-label" for="five_thirty_eight">
                            FiveThirtyEight.com
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="media_sources" type="checkbox"
                               value="Hacker_news" id="hacker_news">
                        <label class="form-check-label" for="hacker_news">
                            Hacker News
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="media_sources" type="checkbox"
                               value="Journal_publication" id="journal">
                        <label class="form-check-label" for="journal">
                            Journal Publications
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="media_sources" type="checkbox"
                               value="Kaggle_forum" id="kaggle_forums">
                        <label class="form-check-label" for="kaggle_forums">
                            Kaggle Forums
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="media_sources" type="checkbox"
                               value="KDnuggets" id="kd_nuggets">
                        <label class="form-check-label" for="kd_nuggets">
                            KDnuggets Blog
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="media_sources" type="checkbox"
                               value="Linear_Digression_podcast" id="linear_digression">
                        <label class="form-check-label" for="linear_digression">
                            Linear Digressions Podcast
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="media_sources" type="checkbox"
                               value="Medium_Blog" id="medium">
                        <label class="form-check-label" for="medium">
                            Medium Blog Posts
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="media_sources" type="checkbox"
                               value="OReilly_data" id="oreilly">
                        <label class="form-check-label" for="oreilly">
                            O’Reilly Data Newsletter
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="media_sources" type="checkbox"
                               value="Partially_derivative_podcast" id="partially_derivative">
                        <label class="form-check-label" for="partially_derivative">
                            Partially Derivative Podcast
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="media_sources" type="checkbox"
                               value="R_machine_learning" id="r_ml">
                        <label class="form-check-label" for="r_ml">
                            r/machinelearning
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="media_sources" type="checkbox"
                               value="SirajRaval" id="siraj_raval">
                        <label class="form-check-label" for="siraj_raval">
                            Siraj Raval YouTube Channel
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="media_sources" type="checkbox"
                               value="Data_Skeptic_podcast" id="data_sceptic">
                        <label class="form-check-label" for="data_sceptic">
                            The Data Skeptic Podcast
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="media_sources" type="checkbox"
                               value="Twitter" id="twitter">
                        <label class="form-check-label" for="twitter">
                            Twitter
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="media_sources" type="checkbox"
                               value="Other" id="media_sources_other">
                        <label class="form-check-label" for="media_sources_other">
                            Other
                        </label>
                    </div>
{#                    <div class="form-check">#}
{#                        <input class="form-check-input" name="media_sources" type="checkbox"#}
{#                               value="None/I do not know" id="media_sources_any">#}
{#                        <label class="form-check-label" for="media_sources_any">#}
{#                            None/I do not know#}
{#                        </label>#}
{#                    </div>#}
                </div>
            </div>
        </section>
        <div class="container">
            <div class="d-flex flex-row mt-5 justify-content-center">
                <a id="next_section" href="#" class="btn btn-primary btn-lg btn-md mb-5">Skip</a>
                <button type="submit" class="btn btn-primary btn-lg d-none mb-5">Submit</button>
            </div>
        </div>
    </form>
{% endblock %}